.contest-title {
	font-family: "Luckiest Guy";
	margin: 10px;
}

/* .contest-list li {
	font-size: 20px;
	color: #000;
	border: 4px solid black;
	border-radius: 50px;
	padding: 20px;
	padding-bottom: 20px;
	margin: 20px;
	width: 150px;
	margin-bottom: 20px;
	list-style-type: none;
	display: inline-block;
} */

.contest-list ul {
	list-style-type: none;
	display: inline;
	color: blue;
	text-align: center;
}

.selected {
	background-color: red;
}
