.guessable-list li{
  font-size: 20px;
  color: #000;
  border: 2px solid black;
  padding: 20px;
  max-width: 150px;
  display: inline;
  margin: 10px;
}

.guessable-list{
  list-style-type: none;
  color: blue;
  text-align: center;
  margin: 50px;
}

#selected-contest-title-wrapper{
  padding:20px;
  background-color: #6A6EA9;
  margin-top: 40px;
}

#selected-contest-title-wrapper h3{
  font-size: 30px;
  color: #ffffff;
}
