.contest-title {
	font-family: "Bungee Inline";
	margin: 10px;
}

.section-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.contest-list ul {
	list-style-type: none;
	display: inline;
	color: blue;
	text-align: center;
}

.selected {
	background-color: red;
}
