body > main {
	display: grid;
	grid-template-columns: 4fr 3fr;
	grid-row-gap: 0;
	grid-column-gap: 2em;
	text-decoration: none;
}

#navbar ul {
	list-style-type: none;
	text-align: center;
	font-size: 2em;
	background-color: white;
	text-decoration: none;
}

/* #navbar li {
	display: inline;
	text-align: center;
} */

#navbar {
	background-color: lightgrey;
	padding: 5px;
	margin-bottom: 10px;
	text-align: center;
	text-decoration: none;
}
