#navbar ul{
  list-style-type: none;
  color: blue;
  text-align: center;
}

#navbar li{
    display: inline;
    padding: 20px;
}

#navbar{
  background-color: lightgrey;
  padding: 5px;
  margin-bottom: 40px;
}
