.app-title {
	color: ;
	padding: 20px;
	font-size: 3em;
	font-family: "Press Start 2P";
}

#navbar ul {
	list-style-type: none;
	text-align: center;
	font-size: 2em;
	background-color: white;
}

#navbar li {
	display: inline;
	padding: 20px;
	text-align: center;
}

#navbar {
	background-color: lightgrey;
	padding: 5px;
	margin-bottom: 40px;
	text-align: center;
}
