#navbar ul {
	list-style-type: none;
	text-align: center;
	font-size: 6em;
	text-decoration: none;
}

#navbar {
	background: linear-gradient(
		270deg,
		#16a085,
		#27ae60,
		#2980b9,
		#8e44ad,
		#34495e
	);
	background-size: 1000% 1000%;

	-webkit-animation: AnimationName 30s ease infinite;
	-moz-animation: AnimationName 30s ease infinite;
	animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@-moz-keyframes AnimationName {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes AnimationName {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

a:link,
a:visited {
	color: #f6f7eb;
	text-decoration: none;
}
